@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */
body{
    background-image: url(gif/gif_neige.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
#conseil{
    display: flex;
    flex-direction: column;
    height: 425px;
    width: 200px;
    background-color: rgba( 0, 0, 0, 0.05);
    padding: 10px;
    line-height: 25px;
}
#test{
    display: flex;
    flex-direction: row;
    height: 175px;
    width: 1024px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
    padding: 10px;
    line-height: 25px;
}
#sec_temp{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    bottom: 500px;
    right: 80px;
    height: 150px;
    width: 150px;
    margin-left: 600px;

    padding: 20px;
}

#icone_thermo {
    position: relative;
    right: 123px;
    top: 50px;
}

#icone_city {
    position: relative;
    right: 127px;
    top: 50px;
}
.icone_prevision{
    font-size: 50px;
    color: white;
}
#sec_city{
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    bottom: 600px;
    right: 60px;
    height: 150px;
    width: 150px;
    margin-left: 600px;
}

#previsionsToday{
    /* background-color: rgba(0, 0, 0, 0.02); */
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    bottom: 500px;
    right: 80px;
    height: 150px;
    width: 700px;
    margin-left: 100px;
    backdrop-filter: blur(10px);
}


.cellHours{
padding: 10px;
    border-bottom-style: solid;

}